<!--login.jsp Form-->

<form method="post" action="/login.jsp">
<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" name="floatingInput" placeholder="Enter your Email Address">
    <label for="floatingInput">Email address:</label>
</div>
<div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" name="floatingPassword" placeholder="Enter your Password">
    <label for="floatingPassword">Password:</label>
</div>
</form>

